
.nav>li{
	float: left;
	margin-right: 15px;
}

.nav li a{
	margin-top: 10px;
	padding: 10px;
	line-height: 20px;
	display: inline-block;
	text-transform: uppercase;
	color: black;
	font-size: 16px;
	text-decoration: none;
}
.nav>li>button{
	margin-top: 10px;
	max-width: 128px;
	height: 40px;
	background-color: #5DBB46;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: white;
}
.header{
	box-shadow: 0px 2px 0px black;
}

.sale{
	padding-bottom: 10px;
	background-color: rgba(112,112,112,0.1);
}
.sale-exit{
	text-align: right;
	padding: 10px;
	font-size: 20px;
}
.sale-exit button{
	color: black;
}
.sale-exit button:hover{
	color: black;
	text-decoration: none;
}
.sale-content{
	text-align: center;
}
.sale-click{
	text-align: center;
}
.sale-click a{
	color: #5DBB46;
}
.sale-click a:hover{
	text-decoration: none;
	color: #5DBB46;
}

.sub-menu li a{
	text-transform: none;
}
.line{
	border: 1px solid #5DBB46;
	max-width: 175px;
	margin-left: 20px;
}
.view-all{
	text-align: center;
}
.content-web{
	text-align: center;
	font-weight: bold;
	line-height: 29px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.banner-img{
	position: relative;
}
.banner-img img{ 
	max-width: 100%;
}
.banner-img button{
	position: absolute;
	bottom: -15px;
	left: 40%;
}
.banner-content p{
	padding-top: 20px;
	text-align: center;
}
.service{
	background-color: #F9F7F7;
}
.service-link li{
	float: left;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
	border-radius: 2px;
}
.service-link li button{
	text-decoration: none;
	color: #707070;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #B8AA06;
	font-size: 12px;
	background-color: white;
	padding: 3px 5px;
}

.service-bgr-img{
	background-image: url(../img/3.png);
	height:530px;
	max-width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.service-detail{
	background-color: rgba(204,204,204,0.7);
	max-width: 400px;
	height: 530px;
	float: right;
	overflow: hidden;
}
.service-detail-content{
	text-transform: uppercase;
	color: #666666;
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20px;
}
.service-detail-title{
	color: #666666;
	font-size: 16px;
	line-height: 20px;
	margin: 0px 20px;
}
.service-detail-button button{
	background-color: #CCCCCC;
	color: #5DBB46;
	text-transform: uppercase;
	border: 1px solid #5DBB46;
	font-weight: bold;
	margin-bottom: -400px;
	margin-left: 150px;
}
#service-link-2,#service-link-3,#service-link-4,#service-link-5{
	display: none;
}

.number{
	background-image: url("../img/map.png");
	height: 500px;
	overflow: hidden;
}
.number-status h1{
	text-align: center;
	font-weight: bold;
}
.number-name{
	text-align: center;
	color: #5DBB46;
}



.content-web-1{
	text-align: center;
	line-height: 29px;
	text-transform: uppercase;
	color: #5DBB46;
	font-size: 20px;
}












.liii{
	margin-top: 50px;
}

.list-user .item{
	margin: 0px 20px;
	width: 250px;
}

.user-avatar{
	margin: auto;
	width: 100px;
	height: 100px;
}
.user-avatar img{

}
.name-user{
	font-size: 22px;
	text-align: center;
}
.user-report{
	text-align: center;
}


.liii .item{
	margin:auto;
}
.liii{
  width: 100%;
  position: relative;
  
}
.owl-prev{
	/*background-image: url('../img/btnprev.png') !important;*/
	position: absolute !important;
	top: 25% !important;
	left: 0px !important;
	font-weight: bold !important;
	font-size: 25px !important;
	transition: 0.4s ease !important;
	user-select: none !important;
	width: 25px !important;
	height: 50px !important;
}
.owl-next{
	/*background-image: url('../img/btnnext.png') !important;*/
	position: absolute !important;
	top: 25% !important;
	right: 0px !important;
	font-weight: bold !important;
	font-size: 25px !important;
	width: 25px !important;
	height: 50px !important;
	transition: 0.4s ease !important;
	user-select: none !important;
}


.partner-banner img{
	padding: 32px 100px;
	max-width: 100%;
}


.dominance{
	margin: 10px 0px;
}
.dominance-img{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}
.dominance-img img{
	width: 100px;
}
.dominance-content{
	text-align: center;
	font-weight: bold;
}
.dominance-title{
	text-align: center;
	line-height: 25px;
}
.margin-auto{
	margin:auto;
}


.choice{
	background-color: #5DBB46;
}
.choice h4{
	color: white;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}
.btn-choice{
	text-align: center;
}
.choice .btn-choice button{
	margin: 10px;
	max-width: 150px;
	font-weight: bold;
}

.app{
	background-color: #F9F7F7;
	padding-bottom: 20px;
}
.app-left-content{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
	text-align: center;
	margin-top: 100px;
}
.app-left-title{
	margin-top: 40px;
	text-align: center;
}
.app-left-img{
	margin-top: 40px;
	text-align: center;
}
.app-left-img img{
	max-width: 160px;
	height: 40px;
}

.app-right img{
	margin-top: 100px;
	max-width: 200px;
}
.footer{
	padding-top: 85px;
}
.footer-content{
	color: #5DBB46;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
.footer-logo{
	margin-bottom: 10px;
}
.name-company{
	margin-bottom: 10px;
}
.address{
	margin-bottom: 10px;
}
.phone{
	margin-bottom: 10px;
}
.footer-link ul{
	margin-top: 10px;
}
.footer-link ul li{
	line-height: 29px;
}
.footer-link ul li a{
	text-decoration: none;
	color: black;
	font-size: 12px;
}

.list-mxh ul li{
	float: left;
}
.list-mxh img{
	max-width: 75%;
}
.qrcode img{
	max-width: 70%;
	float: right;
}






